:root {
  --main-color: #144257;
  --main-shadow-color: #077483;
  --main-text-color: 	#fff;
}

.react-icon {
  color: #00dafd;
}
.main {
  background-color: var(--main-color);
  padding: 30px;
  margin: 50px auto;
  max-width: 600px;
  border-radius: 50px 20px;
  box-shadow: 8px 8px 1px var(--main-shadow-color);
}

.main h1 {
  color: var(--main-text-color);
  text-align: center;
  font-size: 40px;
}

